In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("quikr_car.csv")
df.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [3]:
df = df.rename(columns={"name": "Model Name", "company": "Company", "year": "Year",})
df

,Model Name,Company,Year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
887,Ta,Tara,zest,"3,10,000",NaN,NaN
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN

In [4]:
dup = df[df.duplicated()]
print(dup)

                               Model Name   Company  Year     Price  \
14   Hyundai Santro Xing XO eRLX Euro III   Hyundai  2007    80,000
15                Mahindra Jeep CL550 MDI  Mahindra  2006  4,25,000
20                   Mahindra Scorpio S10  Mahindra  2016  3,50,000
24                 Hyundai i20 Sportz 1.2   Hyundai  2012  1,00,000
25                 Hyundai i20 Sportz 1.2   Hyundai  2012  1,00,000
..                                    ...       ...   ...       ...
626               Tata Sumo Gold EX BS IV      Tata  2012  2,10,000
641         Maruti Suzuki Swift VDi BS IV    Maruti  2012  2,80,000
727                   Mahindra Scorpio S4  Mahindra  2015  8,65,000
861            Hyundai Getz Prime 1.3 GLX   Hyundai  2009  1,15,000
880    Maruti Suzuki Swift Dzire Tour VDi    Maruti  2009  2,50,000

     kms_driven fuel_type
14   45,000 kms    Petrol
15       40 kms    Diesel
20   43,000 kms    Diesel
24   55,000 kms    Petrol
25   55,000 kms    Petrol
..          ...       ...
626  75,000 kms    Diesel
641  48,006 kms    Diesel
727  30,000 kms    Diesel
861  20,000 kms    Petrol
880  51,000 kms    Diesel

[94 rows x 6 columns]

In [5]:
df = df.drop_duplicates()

In [6]:
df.duplicated().sum()

0

In [7]:
df.dropna()

,Model Name,Company,Year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,"2,70,000","50,000 kms",Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,"1,10,000","30,000 kms",Diesel
886,Toyota Corolla Altis,Toyota,2009,"3,00,000","1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel

In [8]:
df["Year"].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [9]:
df["Company"].unique()

array(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'I', 'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat',
       'Commercial', 'MARUTI', 'Force', 'Mercedes', 'Land', 'Yamaha',
       'selling', 'URJENT', 'Swift', 'Used', 'Jaguar', 'Jeep', 'tata',
       'Sale', 'very', 'Volvo', 'i', '2012', 'Well', 'all', '7', '9',
       'scratch', 'urgent', 'sell', 'TATA', 'Any', 'Tara'], dtype=object)

In [10]:
df["fuel_type"].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

# Data Quality Check Points
* Year Column has many garbage values and needed to be removed.
* Company column has some strings like "Any", "Sale" etc which should be removed.
* Fuel Type has a nan value.
* kms_driven columns has commas and kms string values.
* Price column has a "Ask for price" value.
* Keep first three words of name

## Creating a Backup

In [11]:
backup = df.copy()

In [12]:
## Cleaning the data

df["Year"].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [13]:
df["Year"].str.isnumeric()

0       True
1       True
2       True
3       True
4       True
       ...
887    False
888     True
889     True
890     True
891     True
Name: Year, Length: 798, dtype: bool

In [14]:
# dropping the non-year values

In [15]:
df = df[df["Year"].str.isnumeric()]

In [16]:
df["Year"].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '2003', '2004', '1995', '2002', '2001'], dtype=object)

In [17]:
df["Year"] = df["Year"].astype(int)

In [18]:
df = df[df["Price"] != "Ask For Price"]

In [19]:
df["Price"] = df["Price"].str.replace(",", "")

In [20]:
df["Price"] = df["Price"].astype(int)

In [21]:
df["kms_driven"].unique()

array(['45,000 kms', '40 kms', '28,000 kms', '36,000 kms', '41,000 kms',
       '25,000 kms', '24,530 kms', '60,000 kms', '30,000 kms',
       '32,000 kms', '48,660 kms', '4,000 kms', '16,934 kms',
       '43,000 kms', '35,550 kms', '39,522 kms', '39,000 kms',
       '55,000 kms', '72,000 kms', '15,975 kms', '70,000 kms',
       '23,452 kms', '35,522 kms', '48,508 kms', '15,487 kms',
       '82,000 kms', '20,000 kms', '68,000 kms', '38,000 kms',
       '27,000 kms', '33,000 kms', '46,000 kms', '16,000 kms',
       '47,000 kms', '35,000 kms', '30,874 kms', '15,000 kms',
       '29,685 kms', '1,30,000 kms', '19,000 kms', '54,000 kms',
       '13,000 kms', '38,200 kms', '22,000 kms', '50,000 kms',
       '13,500 kms', '3,600 kms', '45,863 kms', '60,500 kms',
       '12,500 kms', '18,000 kms', '13,349 kms', '29,000 kms',
       '44,000 kms', '42,000 kms', '14,000 kms', '49,000 kms',
       '36,200 kms', '51,000 kms', '1,04,000 kms', '33,333 kms',
       '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms', '24,330 kms',
       '65,480 kms', '2,00,000 kms', '59,000 kms', '99,000 kms',
       '2,800 kms', '21,000 kms', '11,000 kms', '66,000 kms', '3,000 kms',
       '7,000 kms', '38,500 kms', '37,200 kms', '43,200 kms',
       '24,800 kms', '45,872 kms', '40,000 kms', '11,400 kms',
       '97,200 kms', '52,000 kms', '31,000 kms', '1,75,430 kms',
       '37,000 kms', '65,000 kms', '3,350 kms', '75,000 kms',
       '62,000 kms', '73,000 kms', '2,200 kms', '54,870 kms',
       '34,580 kms', '97,000 kms', '60 kms', '80,200 kms', '3,200 kms',
       '0,000 kms', '5,000 kms', '588 kms', '71,200 kms', '1,75,400 kms',
       '9,300 kms', '56,758 kms', '10,000 kms', '56,450 kms',
       '56,000 kms', '32,700 kms', '9,000 kms', '73 kms', '1,60,000 kms',
       '58,559 kms', '57,000 kms', '1,70,000 kms', '80,000 kms',
       '6,821 kms', '23,000 kms', '34,000 kms', '1,800 kms',
       '4,00,000 kms', '48,000 kms', '90,000 kms', '12,000 kms',
       '69,900 kms', '1,66,000 kms', '122 kms', '0 kms', '36,469 kms',
       '7,800 kms', '24,695 kms', '15,141 kms', '59,910 kms',
       '1,00,000 kms', '4,500 kms', '1,29,000 kms', '300 kms',
       '1,31,000 kms', '1,11,111 kms', '59,466 kms', '25,500 kms',
       '44,005 kms', '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '53,000 kms', '35,500 kms', '22,134 kms',
       '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms', '8,000 kms',
       '55,800 kms', '56,400 kms', '72,160 kms', '11,500 kms',
       '1,33,000 kms', '2,000 kms', '88,000 kms', '65,422 kms',
       '1,17,000 kms', '1,50,000 kms', '10,750 kms', '6,800 kms',
       '9,800 kms', '57,923 kms', '30,201 kms', '6,200 kms', '37,518 kms',
       '24,652 kms', '383 kms', '95,000 kms', '3,528 kms', '52,500 kms',
       '47,900 kms', '52,800 kms', '1,95,000 kms', '48,008 kms',
       '48,247 kms', '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '1,37,495 kms',
       '91,200 kms', '1,46,000 kms', '1,00,800 kms', '2,100 kms',
       '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [22]:
df["kms_driven"]= df["kms_driven"].str.replace("kms", "")

In [23]:
df["kms_driven"] = df["kms_driven"].str.replace(",", "")

In [24]:
df = df[df["kms_driven"] != "Petrol"]

In [25]:
df["kms_driven"] = df["kms_driven"].astype(int)

In [26]:
# Fuel Type has a nan value.

In [27]:
df = df[df["fuel_type"] != "nan"]

In [28]:
df= df[df["fuel_type"].notnull()]

In [29]:
df["Model Name"]= df["Model Name"].str.split(" ").str.slice(0,3).str.join(" ")

In [30]:
df["Model Name"]

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: Model Name, Length: 724, dtype: object

In [31]:
df

                 Model Name   Company  Year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[724 rows x 6 columns]

In [32]:
# Re-indexing the data while droping the previous index
df= df.reset_index(drop = True)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 724 entries, 0 to 723
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Model Name  724 non-null    object
 1   Company     724 non-null    object
 2   Year        724 non-null    int32
 3   Price       724 non-null    int32
 4   kms_driven  724 non-null    int32
 5   fuel_type   724 non-null    object
dtypes: int32(3), object(3)
memory usage: 25.6+ KB

## Analyzing the Dataset

In [34]:
df.describe()

              Year         Price     kms_driven
count   724.000000  7.240000e+02     724.000000
mean   2012.321823  4.032451e+05   46791.342541
std       4.122940  4.802936e+05   34575.416435
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.650000e+05   27000.000000
50%    2013.000000  2.900000e+05   42000.000000
75%    2015.000000  4.899990e+05   59000.000000
max    2019.000000  8.500003e+06  400000.000000

### Findings:
* The first quartile is 165000
* Second Quartile  is 290000
* Third Quartile is 489999
* However, above 75% the values are greater than 5 lakh and the maximum is 8500000 which can create outliers.

In [35]:
df.iloc[447, 3] = 850000

In [36]:
df.reset_index(drop=True)

                 Model Name   Company  Year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
719      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
720          Tata Indica V2      Tata  2009  110000       30000    Diesel
721    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
722            Tata Zest XM      Tata  2018  260000       27000    Diesel
723      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[724 rows x 6 columns]

In [37]:
df.to_csv("cleaned_car.csv")

# Building Machine Learning Model

In [38]:
from sklearn.model_selection import train_test_split

In [46]:
x = df[["Model Name", "Company", "fuel_type"]]
y = df["Price"]

In [47]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, shuffle = True)

In [52]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score #---> For chechking accuracy of model
from sklearn.preprocessing import OneHotEncoder #--> To convert categorical data into encoded values.
from sklearn.compose import make_column_transformer #--> To transform the encoded columns in the preprocessing steps.
from sklearn.pipeline import make_pipeline #---> for SCaling and applying the regression model

In [53]:
encoder = OneHotEncoder()

In [54]:
encoder.fit(x[["Model Name", "Company", "fuel_type"]])

OneHotEncoder()

In [62]:
cat = encoder.categories_

In [63]:
clm_trs = make_column_transformer((OneHotEncoder(categories = cat),["Model Name", "Company", "fuel_type"]), remainder = "passthrough")

In [64]:
clf = LinearRegression()

In [65]:
pipeline = make_pipeline(clm_trs, clf)

In [66]:
pipeline.fit(x_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['Model Name', 'Company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [71]:
y_pred = pipeline.predict(x_test)

In [74]:
r2_score(y_test, y_pred)

0.7459309863433414

In [87]:
scores = []
for i in range (1000):
    x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = i)
    clf = LinearRegression()
    pipeline = make_pipeline(clm_trs, clf)
    pipeline.fit(x_train, y_train)
    y_pred = pipeline.predict(x_test)
    scores.append((r2_score(y_test,y_pred)))

In [94]:
max(scores)

0.8106914403466328

In [97]:
scores.index(0.8106914403466328)

999

In [98]:
np.argmax(scores)

999

In [100]:
import pickle

In [101]:
pickle.dump(pipeline,open("LinearRegression.pkl", "wb"))

In [103]:
pickle.load(open("LinearRegression.pkl", "rb"))

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['Model Name', 'Company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [112]:
pipeline.predict(pd.DataFrame([["Audi Q7", "Audi", 2014, 8000, "Petrol"]],columns = ["Model Name", "Company", "Year", "kms_driven", "fuel_type"]))

array([450470.24725575])

In [113]:
git clone <repository_url>

SyntaxError: invalid syntax (87712501.py, line 1)